<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="ISO-8859-1">
	<title>New product</title>
	</head>
	<body>
		<div align="center">
			<h1>Adding new product</h1>
			<form action="#"  method="post" th:action="@{/add}" th:object="${p}">
			<table >
				<tr>
					<td>Designation : </td>
					<td><input type="text" name="designation"></td>
				</tr>
				<tr>
					<td>Prix : </td>
					<td><input type="text" name="prix"></td>
				</tr>
				<tr>
					<td colspan=2><button type="submit">Save</button></td>
				</tr>
			</table>
			</form>
		</div>
	</body>
</html>